{% extends 'admin/default/default.html.twig' %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('create-game') }}
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor') }}
    {{ encore_entry_script_tags('gameJs') }}
{% endblock %}

{% block content %}
    <h1>Створити гру</h1>
    {{ form_start(form) }}
    <div>
        <div class="create-game-fields">
            <div>
                {{ form_label(form.name, "Назва гри") }}
                {{ form_widget(form.name) }}
            </div>
            <div class="secondary-fields">
                <div>
                    {{ form_label(form.type, "Тип гри") }}
                    {{ form_widget(form.type) }}
                </div>
                <div class="players">
                    <p class="black-text">Мінімальна кількість гравців:</p>
                    <div>
                        {{ form_widget(form.min_users) }}
                    </div>
                </div>
                <div class="time">
                    {{ form_label(form.time, "Середній час гри(хв):") }}
                    {{ form_widget(form.time) }}
                </div>
            </div>
        </div>
        {{ form_widget(form.description) }}
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
