{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('structCss') }}
    {{ encore_entry_link_tags('game') }}
{% endblock %}
{% block js %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="title-actions">
        <h1>Ігри</h1>
        <div class="actions">
            <a class="new-game" href="{{ path('game.create') }}">
                <button>Додати нову гру</button>
            </a>
        </div>
    </div>
    {% if games is defined and games is not empty %}
        {% include 'admin/reusable-parts/flash-messages.html.twig' %}
        <div class="game-list members">
        <ul class="not-editable">
            {% for game in games %}
                <li>
                    <a href="{{ path('game', {'id': game.id}) }}">{{ game.name }}</a>
                    {% if game.type == constant('App\\Entity\\Game::BIG_GAME') %}
                        <span class="big-game">Bелика гра</span>
                    {% elseif game.type == constant('App\\Entity\\Game::SIMPLE_GAME') %}
                        <span class="simple-game">Звичайна гра</span>
                    {% endif %}
                    {% if game.status == constant('App\\Entity\\Game::STATUS_PENDING') %}
                        <span class="pending-game">на модерації</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="black-text">Ніхто ще не додавав ігор, будь першим)</p>
    {% endif %}
{% endblock %}