{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('inviteCss') }}
{% endblock %}
{% block js %}
    {{ encore_entry_script_tags('inviteJs') }}
{% endblock %}
{% block content %}
    <h1>Invite user</h1>
    <div class="invite-form">
        {{ form_start(form) }}
        <div class="email-field">
        {{ form_widget(form.email) }}
        </div>
        {{ form_widget(form.ministry) }}
        {{ form_end(form) }}
    </div>
{% endblock %}