{% extends 'admin/default/default.html.twig' %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('createEditForm') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('imagePreview') }}
    {{ encore_entry_script_tags('registerFormJs') }}
{% endblock %}

{% block content %}
    <div class="title-actions">
        <h1>Реєстрація</h1>
    </div>
    {% set formErrors = form.vars.errors.form.getErrors(true) %}

    {# If there are errors in the form, display them in this unorganized list #}
    {% if formErrors|length %}
        <ul class="form-errors">
            {% for error in formErrors %}
                <li class="error-text"><p>{{ error.message }}</p></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-photo">
        <div class="user-photo">
            <img alt="User photo" id="user-photo"
                 src="{{ svgPath( constant('App\\Helper\\SvgHelper::SVG_NAMES')['USER_BLANK'])|raw }}"/>
        </div>
        {{ form_start(form) }}
        <div class="form-fields">
            <div>
                {{ form_label(form.name, "Ім'я") }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                {{ form_label(form.surname, 'Прізвище') }}
                {{ form_widget(form.surname) }}
            </div>
            <div>
                {{ form_label(form.middleName, 'По батькові') }}
                {{ form_widget(form.middleName) }}
            </div>
            <div>
                {{ form_label(form.address, 'Адреса проживання') }}
                {{ form_widget(form.address) }}
            </div>
            <div>
                {{ form_label(form.phoneNumber, 'Номер телефону') }}
                {{ form_widget(form.phoneNumber) }}
            </div>
            <div class="form-date">
                {{ form_label(form.dateOfBirth, 'Дата народження') }}
                {{ form_widget(form.dateOfBirth) }}
            </div>
            <div class="password-first">
                {{ form_widget(form.password) }}
            </div>
            <div class="form-upload">
                {{ form_label(form.photo, 'Завантажити фото') }}
                {{ form_widget(form.photo) }}
            </div>
            <div class="form-upload">
                {{ form_label(form.dealScan, 'Завантажити угоду') }}
                {{ form_widget(form.dealScan) }}
            </div>
            <div class="form-date">
                {{ form_label(form.gender, 'Cтать') }}
                {{ form_widget(form.gender) }}
            </div>
        </div>
        <div class="form-submit">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}