{% extends 'admin/default/default.html.twig' %}

{% block content %}
    <div class="title-edit">
    <h1>{{ struct.name }}</h1>
    <a href="{{ path('struct.edit' , {'id': struct.id }) }}">edit {{ struct.name }}</a>
    </div>
    {% for flashMessage in app.session.flashbag.get('fail') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    {% set members = struct.getMembers %}
    {% set sheaf = struct.getSheaf %}
    <div class="sheaf-block">
        SHEAF IS: <strong><a href="{{ path('user',{'id': sheaf.id}) }}">{{ sheaf.name }}</a></strong>
    </div>
    <div class="members">
        {% if app.user.id == sheaf.id %}
            <a href="{{ path('user.create') }}">add new member</a>
        {% endif %}
    </div>
    {% if promotionRequests is not empty and app.user.id == sheaf.id %}
        <div class="struct-promotion-request-list">
            <h2>New request to your struct</h2>
            <ul>
                {% for request in promotionRequests %}
                    <li>
                        <a href="{{ path('user',{'id': request.targetUser.id}) }}">{{ request.targetUser.name }}</a>
                        <a href="{{ path('user.promote.approve',{'user_id': request.targetUser.id, 'struct_id': struct.id}) }}">
                            <button>Accept</button>
                        </a>
                        <a href="{{ path('user.promote.decline',{'user_id': request.targetUser.id, 'struct_id': struct.id}) }}">
                            <button>Decline</button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if members is defined and members is not empty %}
        <br>
        members
        <ul>
            {% for member in members %}
                <li>
                    <a href="{{ path('user',{'id': member.id}) }}">{{ member.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>-Here is no members(((</strong>
    {% endif %}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('structList') }}
{% endblock %}