{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('structCss') }}
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('structJs') }}
{% endblock %}
{% block content %}
    <!-- // TODO add filter -->
    {% if app.request.get('type') != 'all' %}
        <h1>{{ app.request.get('type') }} list</h1>
    {% else %}
        <h1>Список структур</h1>
    {% endif %}
    {% include 'admin/reusable-parts/flash-messages.html.twig' %}
    <div class="members">
        <ul class="not-editable">
            {% for struct in structs %}
                <li>
                    <a href="{{ path('struct',{'id': struct.id}) }}">{{ struct.name }} </a>
                    {% if app.request.get('type') == 'all' %}
                        <span class="{{ struct.type }}">({{ constant('App\\Entity\\Struct::STRUCT')[struct.type]['gender'][struct.sheaf.gender]|raw }})</span>
                    {% endif %}
                    {% if app.user.struct == null and app.user.gender == struct.sheaf.gender and app.user.id != struct.sheaf.id %}
                        {% if struct.requestStatus == constant('App\\Entity\\Struct::REQUEST_STATUS_NONE') %}
                            <div>
                                <a class="create"
                                   href="{{ path('struct.join.request', {'id': struct.id}) }}">
                                    Доєднатися
                                </a>
                            </div>
                        {% elseif struct.requestStatus == constant('App\\Entity\\Struct::REQUEST_STATUS_PENDING') %}
                            <div>
                                <p class="edit">
                                    processing
                                </p>
                            </div>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul>

    </ul>
{% endblock %}