{% extends 'admin/default/default.html.twig' %}

{% block content %}
    <h1>Struct</h1>
    {% for flashMessage in app.session.flashbag.get('fail') %}
        {{ flashMessage }}
    {% endfor %}
    {% set members = struct.getMembers %}
    {% set sheaf = struct.getSheaf %}
    SHEAF IS: <strong><a href="{{ path('user',{'id': sheaf.id}) }}">{{ sheaf.name }}</a></strong>
    {% if app.user.id == sheaf.id %}
        <ul>
            <li><a href="{{ path('user.create') }}">add new member</a></li>
            <li><a href="{{ path('struct.edit' , {'id': struct.id }) }}">edit {{ struct.name }}</a></li>
        </ul>
    {% endif %}
    {% if members is defined and members is not empty %}
        <br>
        members
        <ul>
            {% for member in members %}
                <li>
                    <a href="{{ path('user',{'id': member.id}) }}">{{ member.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Here is no members(((</strong>
    {% endif %}
{% endblock %}