{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('struct') }}
{% endblock %}
{% block content %}
    {% set members = struct.getMembers %}
    {% set sheaf = struct.getSheaf %}
    <div class="title-actions">
        <h1>{{ struct.name }}</h1>
        <div class="actions">
            {% if app.user.id == sheaf.id %}
                <a class="create" href="{{ path('user.create') }}">
                    {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['ADD_USER'])|raw }}
                </a>
            {% endif %}
            <a class="edit" href="{{ path('struct.edit' , {'id': struct.id }) }}">
             {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['EDIT'])|raw }}
            </a>
        </div>
    </div>
    {% for flashMessage in app.session.flashbag.get('fail') %}
        {{ flashMessage }}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <div class="sheaf-block">
        <span>{{ constant('App\\Entity\\User::ACTIVE_MINISTRY')[struct.sheaf.ministry]['name'] }}: </span><strong><a href="{{ path('user',{'id': sheaf.id}) }}">{{ sheaf.name }}</a></strong>
    </div>
    <div class="members">

    </div>
    {% if promotionRequests is not empty and app.user.id == sheaf.id %}
        <div class="struct-promotion-request-list">
            <h2>New request to your struct</h2>
            <ul>
                {% for request in promotionRequests %}
                    <li>
                        <a href="{{ path('user',{'id': request.targetUser.id}) }}">{{ request.targetUser.name }}</a>
                        <a href="{{ path('user.promote.approve',{'user_id': request.targetUser.id, 'struct_id': struct.id}) }}">
                            <button>Accept</button>
                        </a>
                        <a href="{{ path('user.promote.decline',{'user_id': request.targetUser.id, 'struct_id': struct.id}) }}">
                            <button>Decline</button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if members is defined and members is not empty %}
        <br>
        members
        <ul>
            {% for member in members %}
                <li>
                    <a href="{{ path('user',{'id': member.id}) }}">{{ member.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>-Here is no members(((</strong>
    {% endif %}
{% endblock %}