{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('structCss') }}
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('generalJs') }}
    {{ encore_entry_script_tags('structJs') }}
    {{ encore_entry_script_tags('modalJs') }}
{% endblock %}
{% block content %}
    {% set sheaf = struct.getSheaf %}
    <div class="title-actions">
        <h1>{{ struct.name }}</h1>
        <div class="actions">
            {% if app.user.ministry is not null %}
                {% if constant('App\\Entity\\User::ACTIVE_MINISTRY')[app.user.ministry]['access'] == constant('App\\Entity\\User::PRIORITY_NATIONAL_COUNCIL') %}
                    <a data-micromodal-trigger="modal-1" title="Set sheaf" class="create">
                        {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['CROWN'])|raw }}
                    </a>
                {% endif %}
            {% endif %}
            {% if sheaf is not null %}
                {% if app.user.id == sheaf.id and (app.user.ministry == constant('App\\Entity\\User::ACTIVE_MINISTRY')['akela']['slug'] or app.user.ministry == constant('App\\Entity\\User::ACTIVE_MINISTRY')['troopLeader']['slug']) %}
                    <a href="{{ path('user.create') }}" class="create" id="set-sheaf">
                        {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['ADD_USER'])|raw }}
                    </a>
                {% endif %}
                {% if editable == true %}
                    <a class="edit" href="{{ path('struct.edit' , {'id': struct.id }) }}">
                        {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['EDIT'])|raw }}
                    </a>
                {% endif %}
                {% if struct.type == constant('App\\Entity\\Struct::CIRCLE_SLUG') and app.user.id != struct.sheaf.id %}
                    <a class="delete" href="{{ path('struct.leave' , {'id': struct.id }) }}">
                        {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['LOGOUT'])|raw }}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% include 'admin/reusable-parts/flash-messages.html.twig' %}
    <div class="sheaf-block">
        <span class="black-text">
            {% if sheaf is not null %}
            {% if  struct.sheaf.ministry == 'troopLeader' %}
            {{ constant('App\\Entity\\User::ACTIVE_MINISTRY')[struct.sheaf.ministry]['gender'][struct.sheaf.gender] }}
            {% else %}
                {{ constant('App\\Entity\\User::ACTIVE_MINISTRY')[struct.sheaf.ministry]['name'] }}
            {% endif %}
            : </span><strong><a
                    href="{{ path('user',{'id': sheaf.id}) }}">{{ sheaf.name }}</a></strong>
        {% else %}
            <span><strong class="error-text"><p>No sheaf here</p></strong></span>
        {% endif %}
    </div>
    <div class="members">
        {% if (struct.getActiveMembers is defined and struct.getActiveMembers is not empty) or (promotionRequests is defined and promotionRequests is not empty) or (struct.getPassiveMembers is defined and struct.getPassiveMembers is not empty) %}
            {% if promotionRequests is not empty and app.user.id == sheaf.id %}
                <br>
                <p class="black-text">New request to your struct({{ promotionRequests|length }})</p>
                <ul {% if editable == false %} class="not-editable" {% endif %}>
                    {% for request in promotionRequests %}
                        <li>
                            <a href="{{ path('user',{'id': request.targetUser.id}) }}">{{ request.targetUser.name|capitalize }}</a>
                            {% if editable == true %}
                                <div>
                                    <div class="three-dots-block request-block">
                                        <a class="create"
                                           href="{{ path('user.promote.approve',{'user_id': request.targetUser.id, 'struct_id': struct.id}) }}">
                                            Accept
                                        </a>
                                        <a class="delete"
                                           href="{{ path('user.promote.decline',{'user_id': request.targetUser.id, 'struct_id': struct.id}) }}">
                                            Decline
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if struct.getActiveMembers is defined and struct.getActiveMembers is not empty %}
                <br>
                <p class="black-text">Активні учасники({{ struct.getActiveMembers|length }})</p>
                <ul {% if editable == false %} class="not-editable" {% endif %}>
                    {% for member in struct.getActiveMembers %}
                        <li>
                            <a href="{{ path('user',{'id': member.id}) }}">{{ member.surname|capitalize }} {{ member.name|capitalize }}</a>
                            {% if editable == true %}
                                <div>
                                    <div class="three-dots-block">
                                        {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['THREE_DOTS'])|raw }}
                                        <div class="menu hide-anim">
                                            <ul>
                                                {% if member.role != constant('App\\Entity\\User::ROLE_TRAVELLER') %}
                                                    <li><a class="edit"
                                                           href="{{ path('user.edit', {'id': member.id}) }}">
                                                            Edit
                                                        </a></li>
                                                {% endif %}
                                                <li><a class="delete"
                                                       href="{{ path('user.remove.from.struct', {'id': member.id}) }}">
                                                        Delete
                                                    </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if struct.getPassiveMembers is defined and struct.getPassiveMembers is not empty %}
                <br>
                <p class="black-text">Пасивні учасники({{ struct.getPassiveMembers|length }})</p>
                <ul {% if editable == false %} class="not-editable" {% endif %}>
                    {% for member in struct.getPassiveMembers %}
                        <li>
                            <a href="{{ path('user',{'id': member.id}) }}">{{ member.surname|capitalize }} {{ member.name|capitalize }}</a>
                            <div>
                                {% if editable == true %}
                                    <div class="three-dots-block">
                                        {{ svg( constant('App\\Helper\\SvgHelper::SVG_NAMES')['THREE_DOTS'])|raw }}
                                        <div class="menu hide-anim">
                                            <ul>
                                                <li><a class="edit"
                                                       href="{{ path('user.edit', {'id': member.id}) }}">
                                                        Edit
                                                    </a></li>
                                                <li><a class="delete"
                                                       href="{{ path('user.remove.from.struct', {'id': member.id}) }}">
                                                        Delete
                                                    </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            <p class="black-text">-Here is no members(((</p>
        {% endif %}
    </div>
    {% include 'admin/reusable-parts/modal.html.twig' %}
{% endblock %}
