{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('createEditForm') }}
{% endblock %}
{% block content %}
    <h1>New user for {{ struct.name }}</h1>
    <div class="form-photo">
        <div class="user-form">
            {{ form_start(form) }}
            <div class="form-name form-block">
                <div class="field-label">
                    {{ form_label(form.name, 'Name') }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="field-label">
                    {{ form_label(form.surname, 'Surname') }}
                    {{ form_widget(form.surname) }}
                </div>
                <div class="field-label">
                    {{ form_label(form.middleName, 'Middle name') }}
                    {{ form_widget(form.middleName) }}
                </div>
            </div>
            <div class="form-date-address-phone form-block">
                <div class="field-label">
                    {{ form_label(form.address, 'Address') }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="field-label">
                    {{ form_label(form.phoneNumber, 'Phone number') }}
                    {{ form_widget(form.phoneNumber) }}
                </div>
                <div class="field-label data-of-birth-fields">
                    {{ form_label(form.dateOfBirth, 'Date of birth') }}
                    {{ form_widget(form.dateOfBirth) }}
                </div>
            </div>
            <div class="form-photo form-block">
                {{ form_label(form.photo, 'Upload photo') }}
                {{ form_widget(form.photo) }}
                {{ form_label(form.dealScan, 'Upload deal') }}
                {{ form_widget(form.dealScan) }}
            </div>
            <div class="form-submit form-block">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="user-photo">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                 x="0px" y="0px" width="350px" height="200px" viewBox="0 0 311.541 311.541" xml:space="preserve">
<g>
    <g>
        <path d="M155.771,26.331C69.74,26.331,0,96.071,0,182.102c0,37.488,13.25,71.883,35.314,98.761    c3.404-27.256,30.627-50.308,68.8-61.225c13.946,12.994,31.96,20.878,51.656,20.878c19.233,0,36.894-7.487,50.698-19.936    c38.503,11.871,65.141,36.27,66.017,64.63c24.284-27.472,39.056-63.555,39.056-103.108    C311.541,96.071,241.801,26.331,155.771,26.331z M155.771,222.069c-9.944,0-19.314-2.732-27.634-7.464    c-20.05-11.409-33.855-34.756-33.855-61.711c0-38.143,27.583-69.176,61.489-69.176c33.909,0,61.489,31.033,61.489,69.176    c0,27.369-14.237,51.004-34.786,62.215C174.379,219.523,165.346,222.069,155.771,222.069z"/>
    </g>
</g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
</svg>
        </div>
    </div>
{% endblock %}