{% extends 'admin/default/default.html.twig' %}
{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('structCss') }}
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('structJs') }}
{% endblock %}
{% block content %}
    <!-- // TODO add filter -->
    <h1>Список провідників</h1>
    <div class="members">
        <ul class="not-editable">
            {% for user in users %}
                <li>
                    <a href="{{ path('user',{'id': user.id}) }}">{{ user.surname }} {{ user.name }}</a>
                        {% if user.ministry is not empty  and constant('App\\Entity\\User::ACTIVE_MINISTRY')[user.ministry] is not empty %}
                    <p>(<span class="{{ constant('App\\Entity\\User::ACTIVE_MINISTRY')[user.ministry]['colorClass']|raw }}">{{ constant('App\\Entity\\User::ACTIVE_MINISTRY')[user.ministry]['name']|raw }}</span>)</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}