<ul>
    {% if app.user.sheafOf.id is defined and not null %}
        <li>
            <a href="{{ path('struct', {'id': app.user.sheafOf.id}) }}">My {{ app.user.sheafOf.type }}</a>
        </li>
    {% endif %}
    {% if app.user.struct.id is defined and not null %}
        <li>
            <a href="{{ path('struct', {'id': app.user.struct.id}) }}">My {{ app.user.struct.type }}</a>
        </li>
    {% endif %}
    {% if app.user.id is defined and not null %}
        <li>
            <a href="{{ path('user', {'id': app.user.id}) }}">My profile</a>
        </li>
        <li>
            <a href="{{ path('struct.list') }}">General struct list</a>
        </li>
    {% endif %}
    {% if constant('App\\Entity\\User::MINISTRY')[app.user.ministry]['access'] >= constant('App\\Entity\\User::MINISTRY')['president']['access'] %}
        <li>
            <a href="{{ path('user.list') }}">General user list</a>
        </li>
    {% endif %}
</ul>