<div class="header">
    <ul class="menu-list">
        {% if app.user.sheafOf.id is defined and not null %}
            <li>
                <a href="{{ path('struct', {'id': app.user.sheafOf.id}) }}">My {{ app.user.sheafOf.type }}</a>
            </li>
        {% endif %}
        {% if app.user.struct.id is defined and not null %}
            <li>
                <a href="{{ path('struct', {'id': app.user.struct.id}) }}">My {{ app.user.struct.type }}</a>
            </li>
        {% endif %}
        {% if app.user.id is defined and not null %}
            <li>
                <a href="{{ path('struct.list') }}">General struct list</a>
            </li>
            {% if app.user.ministry is not null and constant('App\\Entity\\User::ACTIVE_MINISTRY')[app.user.ministry]['access'] >= constant('App\\Entity\\User::ACTIVE_MINISTRY')['president']['access'] %}
                <li>
                    <a href="{{ path('user.list') }}">Travellers list</a>
                </li>
            {% endif %}

            <li class="profile-menu-item">
                <a href="{{ path('user', {'id': app.user.id}) }}">My profile</a>
            </li>
        {% endif %}
    </ul>
</div>